html,
body {
  height: 100%;
}

header {
  grid-area: header;
}

.m_header {
  grid-area: m_header;
}

.kontakt {
  grid-area: kontakt;
}

.history {
  grid-area: history;
}

.tools {
  grid-area: tools;
}

footer {
  grid-area: footer;
}

.clock {
  font-size: 10px;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(226, 19, 19);
}

.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 65% 35%;
  grid-template-rows: 5% 50% 35%;
  grid-template-areas:
    "header header"
    "m_header  kontakt"
    "history tools "
    "footer footer";
  background-color: #fff;
  color: #444;
  justify-content: center;
  align-content: center;
}

footer {
  font-size: 10px;
  font-style: italic;
  color: rgb(23, 112, 43);
  letter-spacing: 2px;
  text-align: left;
  width: auto;
  height: 20px;
  border: 1px none rgb(0, 255, 242);
  padding-bottom: 6px;
}

.header {
  background-color: rgb(0, 163, 225);
  height: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.m_header h1 {
  letter-spacing: 1.5px;
  margin: 0;
}

.header_me_picture {
  width: 30%;
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: -20px;

}

.header span {
  color: rgb(0, 163, 225);
}

.kontakt {
  font-weight: bold;
  font-size: 11px;
}

.kontakt_h2 {
  color: rgb(3, 3, 51);
  font-style: italic;
}

.kontakt input {
  font-size: 15px;
}

input[type=text],
select {
  width: 100%;
  padding: 2px 2px;
  margin: 2px 0;
  font-size: 10px;
  display: inline-block;
  border-radius: 4px;
  border-width: 1px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  font-size: 10px;
  background-color: rgb(0, 163, 225);
  color: white;
  padding: 5px 4px;
  margin: 10px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #343834bd;
}

.history {
  background-color: rgb(235, 235, 235);
  border-bottom-left-radius: 20px;
  padding-left: 5px;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  letter-spacing: 2px;
}

.history button {
  background-color: rgb(248, 244, 25);
  border-color: #fff;
  border-style: dotted;
  block-size: 50px;
  border-radius: 150px;
  font-size: 10px;
}

.tools {
  background-color: rgb(168, 193, 224);
  padding-top: 10px 10px 10px 10px;
  border-bottom-right-radius: 20px;
}

.tools_header {
  color: rgb(226, 19, 19);
  padding: 2px;
  letter-spacing: 2px;
  text-justify: auto;
  text-align: center;
}

.tools_header:hover {
  background-color: white;
}

.tools_box img:hover {
  background-color: white;
}

.tools_box {
  color: rgb(32, 80, 143);
  padding-top: 20px;
  padding-bottom: 20px;
}

.tools_box img {
  height: 30px;
  display: inline-flex;
  padding: 10px;
}

